* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pre_nav {
    display: flex;
    background-color: #b4245d;
    height: 40px;
}

.pre_nav_content {
    display: flex;
    padding: 10px;
    width: 65%;
}

.pre_nav_text {
    padding-left: 20px;
    text-align: center;
    color: white;
}

/* pre nav dropdown */

.dropdown {
    float: left;
    margin-left: 20px;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 10px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    margin-left: 10%;
    display: none;
    position: absolute;
    background-color: #dddddd;
    width: 80%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-content .header {
    background: #b4245d;
    padding: 16px;
    color: white;
}

.column {
    float: left;
    width: 25%;
    padding: 5px 10px;
    background-color: rgb(236, 236, 236);
    height: 350px;
}

.column a {
    float: none;
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #e72e77
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* pre nav icon srction */
.pre_nav_icon {
    display: flex;
    padding: 10px;
    width: 35%;
    color: white;
    justify-content: space-evenly;
}

.pre_nav_review {
    display: flex;
}

.pre_nav_review p {
    margin-right: 5px;
}

.pre_nav_app {
    display: flex;
}

.pre_nav_app p {
    margin-right: 5px;
}

/*=================== Navbar Section Start======================== */
nav {
    display: flex;
    height: 50px;
    background-color: #e72e77;
}

.navbar_logo {
    font-size: 1.5rem;
    color: white;
    width: 15%;
    padding: .5rem 0rem 0rem 3.5rem;
}

.navbar_menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: .9rem 0rem 0rem 2.5rem;
    font-size: 17px;

}

.nav_venue_img {
    display: flex;
    flex-direction: column;

}

.nav_venue_text {
    margin: 20px 0px 10px 40px;
    font-size: 16px;
    font-weight: 700;
}

.nav_venue_card1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.nav_venue_card1 img {
    border-radius: 10px;
}


.nav_venue_card2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_venue_card2 .cards {
    border-radius: 10px;
}



/* ==============Hero Section============= */
.hero {
    height: 500px;
    background-image: url("new111.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.hero_content {
    position: absolute;
    width: 100%;
    bottom: 60px;
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.336) 49%, rgb(0, 0, 0));
}

.hero_content p {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}
.hero_content .hero_content_text{
    font-size: 20px;
}

/* =========================== hero Section Search=========================*/

.hero_sec_dropdown {
width:100%;
height:40px;
padding-top: 10px;
padding-left:300px;


}


.hero_sec_dropdown input[type="text"] {
    padding: 5px;
    font-size: 14px;
    width: 65%;
    height:45px;
    border: none;
}

.hero_sec_dropdown button {
    padding: 5px 10px;
    font-size: 14px;
    background-color:#e72e77;
    height:45px;
    border: none;
    width: 100px;
    color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    width: 682px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
}
 

ul li {
    padding: 10px;
    cursor: pointer;
}

ul li:hover {
    background-color: #f1f1f1;
}


/* =======================================================Alok bhaiya section=========================== */
.bridaloutfit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 90%;
}
.popularvenue{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}
.venue-container {
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 90%
}
.box-of-image{
    display: flex;
}
.box-of-image img{
    width: 180px;
    height: 120px;
    border-radius: 5px;
} 
.text-main{
    margin-left: 20px;
    width: 220px;
    height: 140px;
    display: flex;
    flex-direction: column;
}
.star-hotels{
    size: 20px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    color: #4a4a4a;;
}
.uppertwo{
    flex-direction: row;
    display: flex;
}
.city-for-hotels{
    color: #e72e77;
    line-height: 21px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.city{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
a{
    text-decoration: none;
}

.margin-r-5{
    margin-right: 5px;
}
.Upper-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    height: 140px;
    width: 90%;
    color: #4a4a4a;
}
.Popular_Searches{
    font-family: proxima-nova,sans-serif;
    margin-top: 70px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}


.middle-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 20px;
    height: 300px;
    margin-left: 5%;
    width: 90%;
    color: #4a4a4a;
}
p{
    font-size: 15px;
    align-content: center start;
}

  .container-img {
    position: relative;
    overflow: hidden;
    width: 240px; /* Adjust the width as needed */
    height: 260px; /* Adjust the height as needed */
  }
  
  .container-img img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
  }
  
  .container-img:hover img {
    transform: scale(1.3); /* Adjust the scale factor as needed for the desired zoom level */
  }
  
  .container-img a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .Wedding_Categories{
    margin-top: 110px;
    margin-left: 5%;
    width: 90%;
    display: flex;
  }

  .Wedding-Categories{
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #4a4a4a;
  }
  .All-Categories{
    font-family: proxima-nova,sans-serif;
    margin-left: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #e72e77;
  }

.Six_Categories{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.Upper_Two{
    margin-top: 15px;
    display: flex;
}
.Middle_two{
    margin-top: 15px;
    display: flex;
}
.Last_two{
    margin-top: 15px;
    display: flex;
}

.First_Category{
    background-color: rgb(216, 223, 252);
}
.Second_Category{
    background-color: rgb(244, 213, 194);
    margin-left: 20px;
}
.Third_Category{
    background-color: rgb(223, 178, 173);
}
.Fourth_Category{
    background-color: rgb(207, 205, 184);
    margin-left: 20px;
}

.Fifth_Category{
    background-color: rgb(220, 247, 247);
}
.Six_Category{
    background-color: rgb(229, 211, 189);
    margin-left: 20px;
}

.Common_Category{
    width: 590px;
    height: 120px;
    margin-right: auto;
    display: flex;
}
.text_div{
    height: 120px;
    width: 340px;
}
.image_div{
    height: 120px;
    width: 250px;
}
.first_image{
    clip-path: ellipse(99% 140px at 100% 50%);
    object-fit: cover;
}
.text_div_container{
    width: 250px;
    padding: 30 25;
}

.text_div_first{
    font-size: 22px;
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    color: #4a4a4a;
}
.text_div_second{
    font-size: 14px;
    margin-top: 5px;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}

.VMG_Services{
    font-family: proxima-nova,sans-serif;
    margin-top: 90px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}

.Three-Services{
    width: 90%;
    margin-left: 5%;
}
.Pair_two_Services{
    margin-top: 20px;
    display: flex;
}
.First_Contianer_Service{
    width: 590px;
    height: 420px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    overflow: hidden;
}
.Second_Contianer_Service{
    width: 590px;
    margin-left: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    overflow: hidden;
}
.Wedsta_img{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    width: 570px;
    height: 200px;
    object-fit: cover;
}
.Wedsta_txt{
    width: 570px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: proxima-nova,sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #4a4a4a;
    font-weight: 600;
    display: flex;
}

.Wedsta_Second_txt{
    margin-top: 10px;
    margin-left: 10px;
    font-family: proxima-nova,sans-serif;
    color: #4a4a4a;
    display: flex;
    width: 570px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.Know_more{
    margin-top: 20px;
    margin-left: 10px;
    font-family: proxima-nova,sans-serif;
    color: #e72e77;
    background-color: #fff;
    border: 1px solid #e72e77;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.Button-Know-More{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Wedsta_container {
    position: relative;
    overflow: hidden;
    width: 570px;
    height: 200px;
  }
  
  .Wedsta_container img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
  }
  
  .First_Contianer_Service:hover .Wedsta_container img {
    transform: scale(1.3);
    transform-origin: center center;
  }
  
  .Wedsta_container a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .Know_more {
  font-family: proxima-nova, sans-serif;
  color: #e72e77;
  background-color: #fff;
  border: 1px solid #e72e77;
}

.First_Contianer_Service:hover .Know_more {
    background-color: #e72e77;
    color: #fff;
  }
  


/*=======================Tanuj Code Section ===================  */
.gallery_main_heading{
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 600;
}
.heading{
    margin: 0px;
    font-size: 22px;
    padding-left: 40px;
}

.gallery-to-look-for{
    display: flex;
    background-color: #FBFBFB;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;   
}

.gallery-to-look-for::-webkit-scrollbar{
    display: none;
}
.gallery-to-look-for .img{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
}
.gallery-items img:hover ,.lb-items img:hover{
   transform: scale(1.25) ;
    transition: 0.9s ease;
    
}
.gallery-items
{
    width: auto;
    height: auto;
    background-color: #fbfbfb;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 1em;
}

.gallery-items p{
    text-align: center;
  

}

.gallery-to-look-for :hover{
    color: rgb(236, 82, 108);
}


.bottom-elements{
    text-align: left;
    margin: 40px;
}

.bottom-buttons{
    margin-top: 20px;
    background-color: #e72e77;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 0.2rem;
    color: white;
}
.bottom-buttons:hover{
    background-color: #2075d7;
    transition: 0.7s;
    
}
.lb-items .img{

    width: 100%;
    
}
.lb-items {
    color:black;
    padding: 0.5em;
}

.lb-items h3:hover{
    color: black;
}
.price{
    color: #e72e77;
    font-weight: bold;
}

.lb-items img{
    height: 220px;
    width: 390px;
   
}

#app img{
    width: 169px;
    height: 50px;
}
#list li{
    list-style: none;
    padding: 0.4em;
    font-weight: 15px;
}
#foot{
    display: flex;
    
    background-color: rgb(196, 184, 184);
    padding: 5px;
    justify-content: space-between;
}